<fieldset class="ms-3">
    <legend>Veillez Importer un fichier</legend>
    <hr>
    <div class="form-floating mb-3">
        <input type="file" name="file" id="file" class="form form-control" placeholder="importer un fichier">
        <label for="file">Importer un fichier</label>
    </div>
    
    <div class="form-floating mb-3">
        <input type="text" name="nameListe" id="nameListe" class="form form-control" placeholder="Nom liste">
        <label for="nameListe">Nom de la liste</label>
    </div>
    <button type="submit" class=" btnImport btn mb-5">Valider</button>
</fieldset>