
 <!-- Colonne Droite faire Tirage -->

 <section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="assets/images/tirage2.jpg" alt="tirage" class="img-fluid">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3 display-4">Faire Tirage !</h1>
                <form>
                    <div class="form-row form-floating mb-3">
                        <input type="text" name="nameTirage" [(ngModel)]="lib" id="nameTirage" class="form form-control" placeholder="Nom du Tirage">
                        <label for="nameTirage">Nom Tirage</label>
                    </div>

                    <div class="form-row form-floating mb-3">
                        <select name="selectListe" id="selectListe" class="form-select me-3" >
                            <option selected > --- Séclectionnez une liste ---</option>
                            <option *ngFor="let postulant of ob |async" >{{postulant.libelle}}</option>
                            <label for="selectListe">Choisir une liste</label>
                        </select>
                    </div>

                    <div class="form-row form-floating mb-3">
                        <input type="number" name="numberTirage" [(ngModel)]="nbrlist" id="numberTirage" class="form form-control" placeholder="Nombre de Personnes ?">
                        <label for="numberTirage">Nombre de Personnes</label>
                    </div>

                    <div class="form-row form-floating mb-3">
                        <input type="date" name="numberTirage" [(ngModel)]="date" id="numberTirage" class="form form-control" placeholder="date">
                        <label for="numberTirage">Date Tirage</label>
                    </div>

                    <div class="form-row">
                        <button type="button" class="btn1 mt-3 mb-4" routerLink="/detail-tirage" (click)="onclickTirage()">Faire Tirage </button>
                    </div>
                    <p class="my-4">Merci de donner un Nom pour faire le tirage et préciser le nombre de personne à tirer</p>
                </form>
            </div>
        </div>
    </div>
 </section>
 

 