<div class="alert my-3 mb-3 colorOrange me-3">
    <h1 class="text-center">Détails Tirage 1</h1>
</div>
<hr class="text-center me-3">
<p class="md-3 ms-3">Voici toutes les détailles liées par raport à ce tirage</p>

<table class="table table-striped table-bordered">
    <caption class="caption-top">Détails Tirage</caption>

    <thead class="table-dark">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Numéro</th>
            <th>Liste</th>
            <th>Tirage</th>
        </tr>
    </thead>

    <tr>
        <td>KOLOMA</td>
        <td>Jeremi</td>
        <td>kolomajeremi60@gmail.com</td>
        <td>73 23 06 09</td>
        <td>Liste 1</td>
        <td>Tirage 1</td>
    </tr>

    <tr>
        <td>KOLOMA</td>
        <td>Jeremi</td>
        <td>kolomajeremi60@gmail.com</td>
        <td>73 23 06 09</td>
        <td>Liste 1</td>
        <td>Tirage 1</td>
    </tr>

    <tr>
        <td>KOLOMA</td>
        <td>Jeremi</td>
        <td>kolomajeremi60@gmail.com</td>
        <td>73 23 06 09</td>
        <td>Liste 1</td>
        <td>Tirage 1</td>
    </tr>

    <tr>
        <td>KOLOMA</td>
        <td>Jeremi</td>
        <td>kolomajeremi60@gmail.com</td>
        <td>73 23 06 09</td>
        <td>Liste 1</td>
        <td>Tirage 1</td>
    </tr>

</table>