
<!-- Colonne Droite Tirage -->

    <div class="container-fluid ms-3 overflow-hidden">

      <app-contenu></app-contenu>
      <!-- Import file -->
      <div class="row overflow-hidden">
        <div class="row col-12 col-md-5">
          <app-import-file></app-import-file>
        </div>
        <!-- Card img -->
        <div class="row col-12 col-md-7 overflow-hidden">
          <app-card-item></app-card-item>
        </div>
      </div>
    
    </div>

    <!-- FIN  Colonne Droite Tirage -->