<div class="container-fluid">
    <div class="row col-12">
        <div class="alert my-3 mb-3 colorOrange me-3 overflow-hidden">
            <h1 class="text-center">Voici l'ensemble de Tirages effectués sur la Liste 1</h1>
        </div>
        <hr>
    </div>

    <div class="col-12 col-md-12">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>N °</th>
                <th>Date</th>
                <th>Tirage</th>
                <th>Nombre Postulants</th>
                <th>Détails</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tirage of obs |async; let i =index;">
                    <td>{{tirage.idTirage}}</td>
                    <td>{{tirage.date}}</td>
                    <td>{{tirage.libelle}}</td>
                    <td>{{NombrePost[i]}} Personnes</td>
                    <td>
                    <button class="btnVoirPlus" [routerLink]="['/shortlist', tirage.idTirage]"> Voir Plus</button>
                    </td>
                </tr>
            
            </tbody>
        
        </table>
    
    </div>

</div>




