<div class="row overflow-hidden me-0">

    <!-- MENU -->
    <div class="row col-12 col-md-3 vh-100 me-3 overflow-hidden" style="background-color: #273444;">
      <div class="container-fluid overflow-hidden">
        <app-menu></app-menu>
      </div>
    </div>
  <!-- END MENU-->


  <!-- Colonne Droite Page Import Fichier-->
  <div class="row col-12 col-md-9 overflow-hidden">
    <app-tirage></app-tirage>
  </div>
  <!-- FIN Page Import Fichier-->


  <!-- Colonne Droite Page Faire Tirage-->
  <app-do-tirage></app-do-tirage>
  <!-- FIN Page Faire Tirage-->



  <!-- Colonne Droite Page Détails Tirage-->
  <app-details-tirage></app-details-tirage>
   <!-- FIN Page Détails Tirage-->






  <app-footer></app-footer>
  <!-- END Colonne Droite -->

</div>