<div class="row overflow-hidden me-0">

    <!-- MENU -->
    <div class="row col-12 col-md-3 vh-100 me-3 overflow-hidden" style="background-color: #273444;">
      <div class="container-fluid overflow-hidden">
        <app-menu></app-menu>
      </div>
    </div>
  <!-- END MENU-->


  <!-- Colonne Droite Page Import Fichier-->
  <div class="row col-12 col-md-9 overflow-hidden">
    <router-outlet></router-outlet>
  </div>
  <!-- FIN Page Import Fichier-->




<app-footer></app-footer>
  <!-- END Colonne Droite -->

</div>