<!--div>
    <img src="assets/images/soiree.jpg" alt="coding" class="img-fluid rounded">
</di-->
<div class="container-fluid">
    <div class="card">
        <div class="imgBx">
             <img src="assets/images/successI.jpeg" alt="succes image" class="img-fluid rounded card-img-top">
        </div>
         <div class="card-body">
             <h2 class="h3 card-title">Liste déjà Enregistrée !</h2>
             <p class="card-text">Vous pouvez enregistré des listes pour pouvoir éffectuer plusieurs tirages sur la même liste</p>
             <button class="btn btn-outline-dark">Enregistrer</button>
         </div>
    </div>
</div>