<div class="container-fluid">
    <div class="row">
        <div class="alert my-3 mb-3 colorOrange me-3 overflow-hidden">
            <h1 class="text-center">Freetirage.com</h1>
        </div>
        <hr>
        <p class="text-center">Bienvenu sur FreeTirage simplifier votre mode de sélection de vos postulants ou de candidats !</p>

        <div class="row">
            <div class="d-flex">
                <div class="cardHome col-12 col-md-6 m-3">
                    <div class="pContent">
                        <p class="cardHoneContent text-center">{{nbreL | async}}</p>
                        <p  class="pContent2">Nombre de Liste</p>
                    </div>
                </div>

                <div class="cardHome2 col-12 col-md-6 m-3">
                    <div class="pContent">
                        <p class="cardHoneContent text-center">{{nbreT | async}}</p>
                        <p  class="pContent2">Nombre de Tirage</p>
                    </div> 
                </div>
                
            </div> 
        </div>

        <!--------- PARTIE TABLEAU STATISTIQUE -- ---->
        <div class="row">
            <div class="d-flex">
                <div class="tirageSection col-12 col-md-4 m-3">
                    <p>Nouveau Tirage</p>
                    <button class="goTiragebtn btn" routerLink="/tirage">Tirage</button>
                </div>
                <div class="col-12 col-md-8 m-3">
                    <table class="table table-striped table-bordered">
                        <caption class="caption-top">Statistiques détaillés sur l'ensemble de tirage</caption>
                    
                        <thead class="table-dark">
                            <tr>
                                <th>Liste</th>
                                <th>Nombre Tirage</th>
                                <th>Détails</th>
                            </tr>
                        </thead>
                    
                        <tr *ngFor="let postulant of obs |paginate:{itemsPerPage:2,currentPage:a}">
                            <td>{{postulant.libelle}}</td>
                            <td>{{postulant.tirages.length}}</td>
                            <td>
                            <button [routerLink]="['/tirages',postulant.idListePostulant]" class="btnVoirPlus">Voir Plus</button>
                            </td> 
    
                        </tr>

                    </table>
                    <!-- Start pagination -->
                    <div class="paginationn">
                        <pagination-controls (pageChange)="a=$event" previousLabel="Précédente" nextLabel="Suivante"></pagination-controls>
                    </div>
                    
        
                    <!-- <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </nav> -->
                    <!-- End pagination -->
                </div>
            </div> 
        </div>



    </div>
</div>