<div class="container-fluid">
    <div class="row">
        <div class="alert my-3 mb-3 colorOrange me-3 overflow-hidden">
            <h1 class="text-center">Freetirage.com</h1>
        </div>
        <hr>
        <p class="text-center">Bienvenu sur FreeTirage simplifier votre mode de sélection de vos postulants ou de candidats !</p>

        <div class="row">
            <div class="d-flex">
                <div class="cardHome col-12 col-md-6 m-3">
                    <p class="cardHoneContent text-center">20 K</p>
                </div>
                <div class="cardHome2 col-12 col-md-6 m-3">
                    <p class="cardHoneContent text-center">12 K</p>
                </div>
            </div> 
        </div>

        <!--------- PARTIE TABLEAU STATISTIQUE -- ---->
        <div class="row">
            <div class="d-flex">
                <div class="col-12 col-md-4 m-3">
                    <p>Nouveau Tirage</p>
                    <button class="btn btn-danger" routerLink="/tirage">Tirage</button>
                </div>
                <div class="col-12 col-md-8 m-3">
                    <table class="table table-striped table-bordered">
                        <caption class="caption-top">Statistiques</caption>
                    
                        <thead class="table-dark">
                            <tr>
                                <th>Liste</th>
                                <th>Nombre Tirage</th>
                                <th>Détails</th>
                            </tr>
                        </thead>
                    
                        <tr>
                            <td>Liste 1</td>
                            <td>10</td>
                            <td>Voir Plus</td>    
                        </tr>

                        <tr>
                            <td>Liste 2</td>
                            <td>13</td>
                            <td>Voir Plus</td>    
                        </tr>

                        <tr>
                            <td>Liste 3</td>
                            <td>08</td>
                            <td>Voir Plus</td>    
                        </tr>

                        <tr>
                            <td>Liste 5</td>
                            <td>30</td>
                            <td>Voir Plus</td>    
                        </tr>

                    </table>
                </div>
            </div> 
        </div>



    </div>
</div>