<div class="container-fluid">
    <div class="row">
        <div class="alert my-3 mb-3 colorOrange me-3 overflow-hidden">
            <h1 class="text-center">Freetirage.com</h1>
        </div>
        <hr>
        <p class="text-center">Bienvenu sur FreeTirage simplifier votre mode de sélection de vos postulants ou de candidats !</p>

        <div class="row">
            <div class="d-flex">
                <div class="cardHome col-12 col-md-6 m-3">
                    <div class="pContent">
                        <p class="cardHoneContent text-center">{{nbreL | async}}</p>
                        <p  class="pContent2">Nombre de Liste</p>
                    </div>
                </div>

                <div class="cardHome2 col-12 col-md-6 m-3">
                    <div class="pContent">
                        <p class="cardHoneContent text-center">{{nbreT | async}}</p>
                        <p  class="pContent2">Nombre de Tirage</p>
                    </div> 
                </div>
                
            </div> 
        </div>

        <!--------- PARTIE TABLEAU STATISTIQUE -- ---->
        <div class="row">
            <div class="d-flex">
                <div class="tirageSection col-12 col-md-4 m-3">
                    <p>Nouveau Tirage</p>
                    <button class="goTiragebtn btn" routerLink="/tirage">Tirage</button>
                </div>
                <div class="col-12 col-md-8 m-3">
                    <table class="table table-striped table-bordered">
                        <caption class="caption-top">Statistiques</caption>
                    
                        <thead class="table-dark">
                            <tr>
                                <th>Liste</th>
                                <th>Nombre Tirage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    
                        <tr *ngFor="let postulant of obs">
                            <td>{{postulant.libelle}}</td>
                            <td>{{postulant.tirages.length}}</td>
                            <td>
                            <button [routerLink]="['/tirages',postulant.idListePostulant]">Voir Plus</button>
                            </td>
    
                        </tr>


                    </table>
                </div>
            </div> 
        </div>



    </div>
</div>